@font-face {
    font-family: "SKF";
    src: url("../includes/font-skf/skfchevinbold-webfont.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "SKF";
    src: url("../includes/font-skf/skfchevinlight-webfont.ttf"), url("../includes/font-skf/skfchevinlight-webfont.woff");
    font-weight: lighter;
}
@font-face {
    font-family: "SKF";
    src: url("../includes/font-skf/skfchevinmedium-webfont.ttf"), url("../includes/font-skf/skfchevinmedium-webfont.woff");
    font-weight: 600;
}

@font-face {
    font-family: "Circular";
    src: url("../includes/font-skf/CircularStd-Black.ttf"), url("../includes/font-skf/CircularStd-Black.woff");
}

body {
    background-color :#dce1e2;
}

:not(i){
    font-family: "SKF", sans-serif;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

strong {
    font-weight: bold;
}

article strong {
    color: #5e5e5e;
}

.page p {
    line-height: 22px;
}

a {
    color: #0f58d6;
    text-decoration: none;
}

.desktop {
    display: block;
}
.mobile {
    display: none !important;
}

.font-circular {
    font-family: "Circular", sans-serif;
    font-weight: lighter;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: #1059d6;
    padding-top: 20px;
    padding-bottom: 20px;
}
b {
    font-weight: 600;
}
.menu {
  text-align: center;
}

.center {
    max-width: 1100px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.bg1 {
    min-height: 350px;
    padding: 40px;
    padding-top: 10px;
    background: #fff;
    min-height: 52vh;
}

.hide {
    display: none !important;
}
.text-center {
    text-align:center;
}

.text-middle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header-top {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

.header-bottom {
    float: left;
    /* width: 100%; */
    background: #0057db;
    box-shadow: 0px 0px 0.4px 0px #000;
    padding-bottom: 2px;
    padding-top: 2px;
}

.header-bottom li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.header-bottom a {
    color: #fff;
    text-decoration: none;
    margin-right: 29px;
    font-size: 16px;
    text-transform: uppercase;
}

.header-bottom a:after {
    content: '|';
    margin-left: 15px;
    position: absolute;
    margin-top: 0px;
    color: #ffffff8c;
}

.header-bottom li:last-child a:after {
    display: none;
}

.header-bottom a:hover, .header-bottom a.active {
    color: #5f5f6480;
    text-decoration: none;
    border-color: #afafb15c;
    cursor: pointer;
}


.header-fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.header-space {
    height: 104px;
}

nav.redes-sociais {
    float: right;
    margin: 10px;
}

nav.redes-sociais li {
    float: left;
    margin: 7px;
}

nav.redes-sociais li a {
    color: #ccc;
    font-size: 33px;
}



.banner img {
    max-width: 100%;
    height: auto;
    display: block;
}

.box1 {
    border-top: 15px solid #f00;
    background-color: #0f58d6;
    padding: 20px;
    color: #fff;
    font-weight: 100;
    font-size: 24px;
}

.list-photos > div {
    margin: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.list-photos > div a {
    max-width: 100%;
    float: left;
    position: relative;
}

.list-photos > div p {
    color: #fff;
    background-color: rgba(15, 88, 214, 0.73);
    text-align: left;
    left: 0px;
    font-size: 16px;
    padding: 8px;
    position: absolute;
    width: 92%;
    display: block;
    bottom: 0px;
    line-height: normal;
}

.list-photos > div a:hover p, .list-photos > div a.active p {
    display: block;
}

.list-photos > div p small {
    font-size: 14px;
}

.list-photos {
    text-align: center;
}

.list-photos img {
    display: block;
    max-height: 200px;
}

.comments {
    font-size: 20px;
    padding: 10px;
    max-width: 840px;
    margin: auto;
    color: #0f58d6;
    font-weight: 500;
    font-style: italic;
}

.comments b {
    font-style: normal;
}


.depoimentos {
    margin-bottom: 20px;
    margin-top: 20px;
}

.beneficios {
    margin-bottom: 20px;
}

.list-beneficios > div p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.list-beneficios {
    max-width: 900px;
    margin: auto;
}

.list-beneficios > div {
    margin: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: #485a6d;
    height: 200px;
    width: 200px;
    text-align: center;
    color: #fff;
}

.list-beneficios > div p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
}

.list-beneficios {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.box2 {
    background: #0f58d6;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    padding-bottom: 60px;
    margin-top: 20px;
}

.botao1 {
    background: #FFF;
    padding: 10px 15px;
    color: #0f58d6;
    font-weight: 700;
    font-size: 22px;
    box-shadow: 0px 0px 6px -1px #000000b5;
    border: none;
    cursor: pointer;
}


.botao2 {
    margin-top:5px;
    background: #FFF;
    padding: 10px 15px;
    color: #0f58d6;
    font-weight: 700;
    font-size: 22px;
    width: 100%;
    box-shadow: 0px 0px 6px -1px #000000b5;
    border: none;
    cursor: pointer;
}

header,section.main,footer {
    float: left;
    width: 100%;
}

.bx-wrapper {
    border: none !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
}

.bx-pager.bx-default-pager {
    display: none;
}

.botao1:hover {
    background-color: #485a6d;
    color: #FFF;
}

footer {
    padding-top: 40px;
    box-shadow: 0px -6px 16px -12px #000;
    position: relative;
}

footer a {
    color: #485a6d;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

footer ul {
    margin-right: 90px;
    display: inline-block;
    float: left;
}

footer .copyright {
    float: left;
    width: 100%;
    margin: 20px 0px;
    color: #485a6d;
}

footer a:hover {
    text-decoration: underline;
}


.skf-footer {
    display: block;
    width: 100%;
    color: #fff;
    height: calc(1.6rem + 40px);
    position: relative;
    z-index: 30;
    float: left;
}

.skf-footer .skf-logo {
    width: 100%;
    height: calc(1.6rem + 40px);
    background-image: url(../img/logo_skf_cf.svg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    position: relative;
}

.skf-footer .skf-logo::before {
    display: block;
    content: " ";
    width: 100%;
    height: calc(1.6rem + 40px);
    background-image: url(../img/logo_skf_lf.svg);
    background-repeat: no-repeat;
    float: left;
    background-size: contain;
    background-position: bottom left;
    position: absolute;
    top: 0px;
    left: 0px;
}

.skf-footer .skf-logo::after {
    display: block;
    content: " ";
    width: 100%;
    height: calc(1.6rem + 40px);
    background-image: url(../img/logo_skf_rf.svg);
    background-repeat: no-repeat;
    float: right;
    background-size: contain;
    background-position: bottom right;
    position: absolute;
    top: 0px;
    left: 0px;
}

.parallax {
 height: 420px;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.box3 h2 {
    color: #fff;
    font-size: 42px;
}

.box3  > div {
    max-width: 900px;
    margin: auto;
    display: flex;
}

.box3 p {
    color: #fff;
    font-size: 27px;
    /* text-shadow: 2px 3px 9px #000; */
}

div#map {
    height: 400px;
    margin:20px;
}
input#autocomplete {
    margin: 14px 17px;
    padding: 10px 16px;
    width: 93%;
    border: 1px solid #bec6cb;
}

h3 {
    font-size: 26px;
    font-weight: 600;
    color: #485a6d;
    padding-top: 40px;
    padding-bottom: 20px;
}

.popup-fundo {
    background: #000000a6;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 31;
}

.popup-content {
    max-width: 700px;
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 9999;
    margin-left: -350px;
    left: 50%;
    padding: 20px;
    border-radius: 2px;
    top: 5%;
    max-height: 85%;
    overflow-y: auto;
}

.popup-close {
    float: left;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.popup {
    display: none;
    position: relative;
    z-index: 999;
}

.screen-reader-response {
    display: none;
}

.screen-reader-response li {
    margin-bottom: 8px;
}

span.wpcf7-not-valid-tip {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    color: red;
    margin-top: 5px;
}

.wpcf7-validation-errors {
    color: red;
    margin: 20px 0px;
    padding: 11px;
    border: 1px solid red;
    float: left;
    width: 94%;
}

.form input {
    padding: 6px 11px;
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 94%;
}

.form .wpcf7-not-valid, .wpcf7-response-output.wpcf7-mail-sent-ng  {
    border-color: red;
    border-style: solid;
    float: left;
    width: 94%;
    border: 1px solid red;
    padding: 11px;
    color: red;
}

.form input.botao2 {
    width: 200px;
    float: right;
    margin-right: 17px;
}

.form h3 {
    margin-top: -63px;
    position: relative;
    float: left;
    width: 95%;
}

.form label > span {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.depoimentos-loop {
    text-align: center;
}

.depoimentos-loop article {
    display: inline-block;
    width: 27.3%;
    border: 1px solid #dce1e2;
    padding: 10px;
    height: 236px;
    overflow: hidden;
    border-radius: 10px;
    margin: 13px;
    text-align: left;
    background: #dce1e21c;
}

.depoimentos-loop article img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.depoimentos-loop h2 {
    font-size: 21px;
    margin-top: 21px;
}

.depoimentos-loop h2 span {
    font-size: 14px;
}

.depoimentos-loop .depo {
    float: left;
    width: 100%;
    font-style: italic;
    color: #5d5858;
    padding-top: 10px;
    height: 84px;
    overflow-y: auto;
    font-size: 16px;
}

hr {
    border-width: 0.5px;
    border-color: #ccc;
    float: left;
    width: 100%;
}

div#locationField {
    text-align: center;
}

.wpcf7-response-output.wpcf7-mail-sent-ok {
    color: green;
    font-weight: bold;
    float: left;
    width: 95%;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

#popup form.wpcf7-form.sent .form {
    display: none !important;
}

.wpcf7-response-output.wpcf7-mail-sent-ok h2 {
    padding-top: 0px;
    color: green;
}

.wpcf7-response-output.wpcf7-mail-sent-ok p {
    color: #a5a5a5;
    font-weight: 300;
}

.depoimentos .comments a {
    font-weight: 600;
}

nav.redes-sociais li a:hover i.fa-facebook {
    color: #3b5998;
}

nav.redes-sociais li a:hover i.fa-linkedin {
    color: #007bb6;
}

nav.redes-sociais li a:hover i.fa-instagram {
    color: #3f729b;
}


nav.redes-sociais li a:hover i.fa-youtube {
    color: #bb0000;
}

/*----- ALTERACAO NOVO HEADER ------------------------*/

header .center {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

header nav.menu {
    text-align: left;
}

header .header-bottom {
    background: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: none;
    margin-left: 161px;
    margin-top: -80px;
}

header .header-bottom a {
    color: #5e5e5e;
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding-bottom: 6px;
}

header .header-bottom a:after {
    color: rgba(94, 94, 94, 0.55);
}


header .header-bottom .redes-sociais a:after {
    display: none;
}

header .header-bottom .redes-sociais a {
    margin-right: 0px;
}

header nav.redes-sociais {
    margin-top: 19px;
    margin-bottom: 3px;
}

/*----- ALTERACAO NOVO HEADER ------------------------*/



/*------------------------------------------------------------------------------------------*/

@media only screen and (max-width:768px) {

    .header-bottom{
        display: none;
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }
    
    .header-bottom li {
        width: 100%;
    }

    header .header-bottom {
        position: fixed;
        height: 100%;
        z-index: 999999;
        opacity: 0.9;
        background: #000;
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
        right: 0px;
    }

header .header-bottom a {
    color: #fff;
}

.header-bottom a:hover, .header-bottom a.active {
    color: #fff;
}

    .menu-mobile {
        text-align: right;
    }

.menu-mobile a {
    margin: 0px;
}

    .popup-content {
        left: 0px;
        margin: 11px;
        width: 84%;
        max-height: 90%;
    }

    .header-top {
        border-bottom: 1px solid #ccc;
    }

    input#autocomplete {
        width: 70%;

    }
    .header-bottom a:after {
        display:none;
    }
}