<div class="form">
	<h3>CREDENCIE SUA OFICINA</h3>
	<p> Complete o cadastro abaixo e entraremos em contato com você para agendar visita à sua oficina e apresentar pacote de benefícios detalhado. </p>
	<label> 
		<span>Seu nome (obrigatório)</span>
		[text* your-name] 
	</label>

	<label>
		<span> Celular (obrigatório)</span>
		[tel* telefone class:tel placeholder ""]
	</label>

	<label> <span>Seu e-mail (obrigatório)</span>
		[email* your-email] 
	</label>


	<label> 
		<span>Nome da oficina mecânica (obrigatório)</span>
		[text* oficina]
	</label>

	<label> 
		<span>Endereço da sua oficina (obrigatório)</span>
		[text* endereco-oficina]
	</label>

	[submit class:botao2 "Solicitar contato"]
</div>